@font-face {
  font-family: 'cutive mono';
  src: url(Assets/Fonts/CutiveMono-Regular.ttf);
}

@font-face {
  font-family: 'roboto';
  src: url(Assets/Fonts/RobotoMono-VariableFont_wght.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: roboto, monospace, sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ff4a57, #23263a);
}

body,
html {
  cursor: none;
}

div,
#box {
  cursor: none;
}

a,
button {
  text-decoration: none;
  cursor: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #FFFFFF;
}

#custom-cursor {
  width: 20px;
  height: 20px;
  border: 3px solid #FFFFFF;
  border-radius: 200px;
  position: fixed;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 99;
  transition: width 0.15s ease, height 0.15s ease;
}

#contact input,
#contact textarea {
  cursor: none;
}

#wisdom .box,
#about .studies-container {
  cursor: none;
}

/* Navigation arrows */

.nav-arrow-up {
  display: flex;
  position: absolute;
  font-size: 3em;
  color: #FF4A57;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.fa-solid.fa-angles-up {
  transform: scale(1);
  transition: all 0.3s ease;
}

.fa-solid.fa-angles-up:hover {
  transform: scale(1.25);
  color: #FF7151;
  transition: all 0.3s ease;
}

.nav-arrow-down {
  display: flex;
  position: absolute;
  font-size: 3em;
  color: #FF4A57;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.fa-solid.fa-angles-down,
.fa-solid.fa-house {
  transform: scale(1);
  transition: all 0.3s ease;
}

.fa-solid.fa-angles-down:hover,
.fa-solid.fa-house:hover {
  transform: scale(1.25);
  color: #FF7151;
  transition: all 0.3s ease;
}

.nav-arrow a {
  text-decoration: none;
  color: #FF4A57;
}

/* Desktop Navigation */

nav,
.nav-links {
  display: flex;
}

#desktop-nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: #1a1c2b;
}

.nav-links {
  list-style: none;
  font-size: 2.5em;
  gap: 4em;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.nav-links a {
  position: relative;
  z-index: 1;
}

.nav-links a:hover {
  color: #232323;
}

.nav-links a:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  background: #FF4A57;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 5em;
}

.nav-links a:hover:after {
  opacity: 1;
  height: 100%;
}


/* Hamburger time */

#ham-nav {
  display: none;
  padding: 2.5em;
}

.off-screen-menu {
  background-color: #1a1c2b;
  height: 100vh;
  width: 100%;
  max-width: 200px;
  position: fixed;
  top: 0;
  right: -200px;
  display: flex;
  flex-direction: column;
  z-index: 98;
  transition: all 0.25s ease;
}

.off-screen-menu.active {
  right: 0;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
  margin-top: 5em;
}

.menu-links a {
  color: #FF4A57;
  font-size: 1.25em;
}

.menu-links a:hover {
  color: #FF7151;
  transition: all 0.3s ease;
}

#menu-home {
  margin-top: auto;
  margin-bottom: 6em;
}

.ham-menu {
  height: 50px;
  width: 35px;
  position: fixed;
  top: 2%;
  right: 5%;
  transition: all 0.25s ease;
  z-index: 99;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #FF984a;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active {
  transform: rotate(-90deg) scale(1.25);
  transition: all 0.25s ease;
}

.ham-menu.active span {
  background-color: #ff4a57;
  transition: all 0.25s ease;
}

/* SCROLL BAR */

.header {
  position: fixed;
  top: 0;
  z-index: 95;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 10px;
  background: #1a1c2b;
}

.progress-bar {
  height: 10px;
  background: #ff4a57;
  width: 0%;
}

/* General Section */

section {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 15em;
  margin-right: 15em;
  height: 100vh;
  padding-top: 8em;
  box-sizing: border-box;
  margin-bottom: 4em;
  border: 2px solid #ff4a57;
  border-radius: 10em;
  background-color: #13141f;
  box-shadow: 30px 30px 30px black;
}

/* Profile Section */

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  width: 100%;
}

#profile {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 85vh;
  padding: 0;
}

#profile-pic {
  display: flex;
  width: 500px;
  max-height: 100%;
  object-fit: cover;
  border: 2px solid #FF4A57;
  border-radius: 5em;
}

.picture1-container {
  display: flex;
  height: auto;
}

#blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  ;
}

#greeting,
#profession {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

#name {
  font-size: 3em;
  text-align: center;
  color: #FF4A57;
}

.social-buttons {
  display: flex;
  gap: 4em;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.social-buttons a {
  text-decoration: none;
}

.fa-brands.fa-linkedin-in,
.fa-brands.fa-github {
  color: black;
  font-size: 4em;
  transition: all 0.3s ease;
}

.fa-brands.fa-linkedin-in:hover,
.fa-brands.fa-github:hover {
  color: #FF4A57;
  transition: all 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

#CVBtn,
.viewBtn,
.sendBtn {
  font-size: 1.5em;
  padding: 16px;
  width: 10em;
  border: 2px solid black;
  color: #FFFFFF;
  background-color: black;
  transition: all 0.3s ease;
  border-radius: 5em;
}

#CVBtn:hover,
.viewBtn:hover,
.sendBtn:hover {
  background-color: #FF4A57;
  color: #232323;
  transition: all 0.3s ease;
  border: 2px solid #FF4A57;
}


/* About Section */

#about-me {
  font-size: 3em;
  text-align: center;
  margin: 0.5em;
  color: #FF4A57;
}

#edu-mot {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 2em;
  color: #FFFFFF
}

.about-container {
  display: flex;
  gap: 5em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.picture2-container {
  display: flex;
  width: 40%;
  height: auto;
}

#second-picture {
  width: 500px;
  max-height: 100%;
  object-fit: cover;
  border: 2px solid #FF4A57;
  border-radius: 5em;
  margin: 2em;
}

.studies-container-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}

.education-container {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
}

.studies-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
  background-color: #1a1c2b;
  text-align: center;
  border-radius: 4em;
  transition: all 0.25s ease;
}

.studies-container li {
  padding: 0.2em;
  align-items: flex-start;
  color: #FFFFFF;
}

.studies-container:hover {
  transform: scale(0.95);
  transition: all 0.25s ease;
  cursor: pointer;
}

.degree {
  color: #FF4A57;
}

.fa-solid.fa-graduation-cap {
  font-size: 2em;
  padding: 0.5em;
  color: #FF4A57;
}

.modules {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.degree {
  padding-bottom: 0.5em;
}

.module-title {
  padding-bottom: 0.5em;
  color: #FF984A;
}

#text-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 1.15em;
}


/* Wisdom */

#my-wisdom {
  font-size: 3em;
  text-align: center;
  margin: 0.5em;
  color: #FF4A57;
}

#skills {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 2em;
  color: #FFFFFF;
}

#grid-container {
  display: grid;
  padding: 2em;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 3em 3em;
  color: #FFFFFF;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 10em;
  align-items: center;
  justify-content: center;
  background-color: #1a1c2b;
  border-radius: 3em;
  transition: all 0.25s ease;
}

.box:hover {
  transform: scale(0.95);
  transition: all 0.25s ease;
  cursor: pointer;
}

.fa-solid.fa-cube,
.fa-solid.fa-gears,
.fa-solid.fa-eye,
.fa-solid.fa-palette,
.fa-solid.fa-square-binary,
.fa-solid.fa-screwdriver-wrench {
  font-size: 2em;
  padding: 0.5em;
  color: #FF4A57;
}

.skills-heading {
  color: #FF4A57
}

.skills-para {
  text-align: justify;
  padding: 1em;
}

/* Boondoggles */

.boondoggles {
  width: 100%;
}

#my-boondoggles {
  font-size: 3em;
  text-align: center;
  margin: 0.5em;
  color: #FF4A57;
}

#projects {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 2em;
  color: #FFFFFF;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1em;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.slide {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
  scroll-snap-align: center;
  width: 100%;
  height: 800px;
  padding: 1em;
  align-items: center;
  background-color: #1a1c2b;
  color: #FFFFFF;
  border-radius: 5em;
}

.fa-solid.fa-caret-left,
.fa-solid.fa-caret-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  z-index: 10;
  color: #FF4A57;
  transform-origin: center;
  transition: all 0.3s ease;
}

.fa-solid.fa-caret-left:hover,
.fa-solid.fa-caret-right:hover {
  transform: translateY(-50%) scale(1.25);
  color: #FF984A
}

.left {
  left: 1em;
}

.right {
  right: 1em;
}

h2 {
  font-size: 1.75em;
  color: #FF4A57;
  padding: 1em;
}

.short-description {
  padding: 1em;
}

.project-images {
  height: 500px;
  border-radius: 5em;
  border: 2px solid #FF4A57;
}

.viewBtn {
  margin: 1em;
}


/* Contact Me */

#contact-title {
  font-size: 3em;
  text-align: center;
  margin: 0.5em;
  color: #FF4A57;
}

#aether {
  font-size: 1.75em;
  text-align: center;
  color: #FFFFFF;
}

#contact-blurb {
  margin: 1em;
  font-size: 2.5em;
  text-align: center;
}

#contact-form {
  display: block;
}

fieldset {
  margin: 3em;
  padding: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

#user-email,
#user-subject {
  display: block;
  width: 100%;
  height: 75px;
  font-size: 1em;
  background-color: #1a1c2b;
  color: #FFFFFF;
  border: none;
  padding: 1.5em;
  box-sizing: border-box;
  border-radius: 5em;
}

#user-message {
  width: 100%;
  height: 300px;
  font-size: 1em;
  background-color: #1a1c2b;
  color: #FFFFFF;
  border: none;
  padding: 1.5em;
  box-sizing: border-box;
  border-radius: 2em;
  resize: none;
}

#user-email:focus,
#user-subject:focus,
#user-message:focus {
  outline: 0;
  border: 3px solid #ff4a57;
}

label {
  margin-left: 2em;
  font-size: 1.25em;
  color: #FF4a57;
}

.hint {
  display: none;
  color: red;
}

#sendBtn {
  margin-top: 1em;
  width: 100%;
  border-radius: 5em;
}

#success,
#error {
  display: none;
  text-align: center;
  padding-bottom: 5em;
}

#loading {
  display: none;
  position: relative;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 6em;
}

#loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error h2 {
  color: red;
  font-size: 1em;
}

.message-success {
  font-size: 1.5em;
}

.reset-success {
  padding-bottom: 5em;
  padding-top: 1em;
}

.reset-success a {
  color: #FFFFFF;
  text-decoration: underline;
}

/* SPINNER */

.spinner {
  height: 150px;
  width: 150px;
  border: 20px dotted;
  border-color: #ff4a57;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* FOOTER */
footer {
  background-color: #1a1c2b;
  color: #FFFFFF;
  padding: 5em;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #ff7151;
  text-decoration: none;
  transition: all 0.25s ease;
}

footer p {
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}