@media print {
    body {
        font-family: Times, serif;
        font-size: 12px;
        background-color: white;
    }

    p,
    h1,
    h2,
    h3 {
        color: black;
    }

    #nav-arrow-down,
    #nav-arrow-up,
    #leftBtn,
    #rightBtn {
        display: none;
    }

    #grid-container {
        display: block;
    }

    #second-picture {
        width: 300px;
        height: auto;
    }

    a {
        text-decoration: underline;
        color: black;
    }

    section {
        page-break-inside: avoid;
        margin: 0.5in;
    }
}

@media screen and (max-width: 1200px) {

    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }

    #desktop-nav,
    .nav-arrow-up,
    .nav-arrow-down {
        display: none;
    }

    #ham-nav {
        display: flex;
    }

    .header {
        display: none;
    }
}

/* Phone screen sizes */

@media screen and (min-width: 300px) and (max-width: 950px) {

    section {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: auto;
        padding-top: 2em;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4em;
        margin-bottom: 15em;
    }

    /* Profile Section */
    #profile {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
        width: 100%;
        height: 100%;

    }

    .profile {
        flex-direction: column-reverse;
        gap: 1em;
        width: 100%;
    }

    #profile-pic {
        width: 175px;
        height: 175px;
    }

    #greeting,
    #profession {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    #name {
        font-size: 2em;
    }

    .social-buttons {
        gap: 2em;
        margin: 1em 0;
    }

    .fa-brands.fa-linkedin-in,
    .fa-brands.fa-github {
        font-size: 3em;
    }

    #CVBtn {
        font-size: 1.2em;
        width: 100%;
        padding: 1em;
        margin: auto;
    }

    /* About Section */

    #about-me {
        font-size: 2em;
    }

    #edu-mot {
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 1em;
        margin: auto;
    }

    #second-picture {
        width: 200px;
        border-radius: 4em;
        width: 100%;
        margin: auto;
    }

    .studies-container-wrapper {
        gap: 2em;
        padding: 2em;
        overflow: hidden;
    }

    .education-container {
        flex-direction: column;
        gap: 2em;
        margin: auto;
    }

    .studies-container {
        margin: auto;
        width: 65vw;
    }

    .modules {
        gap: 1em;
        align-items: center;
    }

    .module-title {
        font-size: 0.9em;
    }

    .modules li {
        font-size: 0.75em;
    }

    .degree,
    .module-title {
        padding-bottom: 0.5em;
    }

    #text-container {
        text-align: center;
        font-size: 0.75em;
        line-height: 1.5;
    }

    /* Wisdom Section */

    #grid-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 1em 1em;
    }

    .box {
        text-align: center;
        padding: 0.5em;
        height: auto;
        border-radius: 2em;
    }

    #my-wisdom {
        font-size: 2em;
    }

    #skills {
        font-size: 1.25em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0;
    }

    .skills-heading {
        font-size: 0.75em;
    }

    .skills-para {
        font-size: 0.5em;
        text-align: center;
    }

    .fa-solid.fa-cube,
    .fa-solid.fa-gears,
    .fa-solid.fa-eye,
    .fa-solid.fa-palette,
    .fa-solid.fa-square-binary,
    .fa-solid.fa-screwdriver-wrench {
        font-size: 1.25em;
    }

    /* Boondoggles */

    #boondoggles {
        margin-bottom: 16em;
    }

    #my-boondoggles {
        font-size: 2em;
    }

    #projects {
        font-size: 1.25em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #leftBtn,
    #rightBtn {
        display: none;
    }

    .carousel-wrapper {
        margin: auto;
    }

    .carousel-container {
        padding: 1em;
        width: 90%;
        margin: auto;
    }

    .slide {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .project-images {
        height: 200px;
        border-radius: 3em;
    }

    h2 {
        font-size: 1.25em;
    }

    .short-description {
        font-size: 1em;
        text-align: center;
        padding-bottom: 8em;
    }

    .viewBtn {
        position: absolute;
        /* done so that the buttons can all be at the same level */
        padding: 0.5em;
        width: 6em;
        bottom: 2%;
    }

    /* Contact Section */

    #contact-title {
        font-size: 2em;
    }

    #aether {
        font-size: 1.25em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #contact-blurb {
        font-size: 1.25em;
        text-align: center;
    }

    fieldset {
        margin: 0;
        padding-bottom: 0;
        border: none;
    }

    #contact-form {
        margin: 0;
        padding: 0;
        width: 100%;

    }

    #user-email,
    #user-subject {
        align-items: center;
        width: 100%;
    }

    #user-message {
        height: 250px;
        width: 100%;
    }

    #sendBtn {
        width: 100%;
        padding: 1em;
        margin-bottom: 4em;
    }

    /* FOOTER */
    .footer-wrapper {
        text-align: center;
    }

}

/* Tablet screen sizes */

@media screen and (min-width: 951px) and (max-width: 1199px) {
    section {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: auto;
        padding-top: 2em;
        width: 100%;
        box-sizing: border-box;
    }

    .off-screen-menu {
        background-color: #1a1c2b;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        position: fixed;
        top: 0;
        right: -300px;
        display: flex;
        flex-direction: column;
        z-index: 98;
        transition: all 0.25s ease;
    }

    .menu-links a {
        font-size: 2em;
    }

    .ham-menu {
        height: 70px;
        width: 55px;
    }

    #menu-home {
        margin-top: auto;
        margin-bottom: 2em;
    }

    /* Profile Section */
    #profile {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
        width: 100%;
        margin: auto;
        margin-bottom: 4em;
    }

    .profile {
        flex-direction: column-reverse;
        gap: 1em;
        width: 100%;
    }

    #profile-pic {
        width: 300px;
        height: 300px;
    }

    #greeting,
    #profession {
        font-size: 2em;
        margin-bottom: 1em;
    }

    #name {
        font-size: 3em;
    }

    .social-buttons {
        gap: 2em;
        margin: 1em;
    }

    .fa-brands.fa-linkedin-in,
    .fa-brands.fa-github {
        font-size: 4em;
    }

    #CVBtn {
        font-size: 1.5em;
        width: 100%;
        padding: 1em;
        margin: auto;
    }

    /* About Section */

    #about {
        margin-bottom: 8em;
    }

    #about-me {
        font-size: 3em;
    }

    #edu-mot {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 1em;
        margin: auto;
    }

    #second-picture {
        width: 300px;
        border-radius: 5em;
    }

    .studies-container-wrapper {
        gap: 2em;
        padding: 2em;
        overflow: hidden;
    }

    .education-container {
        flex-direction: column;
        gap: 2em;
        margin: auto;
    }

    .studies-container {
        margin: auto;
        width: 65vw;
    }

    .modules {
        gap: 1em;
        align-items: center;
    }

    .module-title {
        font-size: 1.25em;
    }

    .modules li {
        font-size: 1em;
    }

    .degree,
    .module-title {
        padding-bottom: 0.5em;
    }

    .degree {
        font-size: 1.75em;
    }

    #text-container {
        text-align: center;
        font-size: 1em;
        line-height: 1.5;
    }

    /* Wisdom Section */

    #wisdom {
        margin-bottom: 8em;
    }

    #grid-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        text-align: center;
        padding: 0.5em;
        height: auto;
    }

    #my-wisdom {
        font-size: 3em;
    }

    #skills {
        font-size: 2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0;
    }

    .skills-heading {
        font-size: 1.25em;
    }

    .skills-para {
        font-size: 1em;
        text-align: center;
    }

    .fa-solid.fa-cube,
    .fa-solid.fa-gears,
    .fa-solid.fa-eye,
    .fa-solid.fa-palette,
    .fa-solid.fa-square-binary,
    .fa-solid.fa-screwdriver-wrench {
        font-size: 1.75em;
    }

    /* Boondoggles */

    #boondoggles {
        margin-bottom: 8em;
    }

    #my-boondoggles {
        font-size: 3em;
    }

    #projects {
        font-size: 2em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #leftBtn,
    #rightBtn {
        display: none;
    }

    .carousel-wrapper {
        margin: auto;
    }

    .carousel-container {
        padding: 1em;
        width: 90%;
        margin: auto;
    }

    .slide {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .project-images {
        height: 350px;
    }

    h2 {
        font-size: 1.75em;
    }

    .short-description {
        font-size: 1.25em;
        text-align: center;
        padding-bottom: 8em;
    }

    .viewBtn {
        position: absolute;
        /* done so that the buttons can all be at the same level */
        padding: 1em;
        bottom: 2%;
    }

    /* Contact Section */

    #contact {
        margin-bottom: 10em;
    }

    #contact-title {
        font-size: 3em;
    }

    #aether {
        font-size: 2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #contact-blurb {
        font-size: 1.5em;
        text-align: center;
    }

    fieldset {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

    #contact-form {
        margin: 0;
        padding: 0;
        width: 100%;

    }

    #user-email,
    #user-subject {
        align-items: center;
        width: 100%;
    }

    #user-message {
        height: 250px;
        width: 100%;
    }

    #sendBtn {
        width: 100%;
        padding: 1em;
        margin-bottom: 4em;
    }

    /* FOOTER */
    .footer-wrapper {
        text-align: center;
    }

}

/* Laptop screen sizes */

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    section {
        display: flex;
        position: relative;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: auto;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        transform: scale(0.8);
        transform-origin: center;
    }

    .nav-arrow-down {
        display: flex;
        position: absolute;
        font-size: 3em;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-arrow-up {
        display: flex;
        position: absolute;
        font-size: 3em;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    #desktop-nav {
        transform: none;
        font-size: 0.8em;
    }

    .nav-links {
        gap: 2em;
    }

    /* PROFILE SECTION */

    #profile-pic {
        width: 400px;
        height: 500px;
    }

    /* ABOUT SECTION */

    #about {
        padding-top: 4em;
        padding-bottom: 4em;
        scroll-margin-top: 60px;
        height: 100%;
    }

    #edu-mot {
        margin: 0;
    }

    .about-container {
        gap: 1em;
        justify-content: space-between;
    }

    .education-container {
        gap: 1em;
    }

    #second-picture {
        width: 300px;
        height: auto;
    }

    .studies-container-wrapper {
        width: 750%;
    }

    .studies-container {
        width: 50%;
        padding: 1em;
    }

    .modules {
        width: 100%;
    }

    #about-me {
        font-size: 2.5em;
    }

    #edu-mot {
        font-size: 1.5em;
    }

    #text-container {
        font-size: 0.75em;
        padding: 0.5em;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
    }

    /* Wisdom */

    #wisdom {
        padding-top: 4em;
        padding-bottom: 4em;
        scroll-margin-top: 75px;
        height: 100%;
    }

    #grid-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 2em 2em;
    }

    .box {
        text-align: center;
        padding: 0.5em;
        height: auto;
    }

    #my-wisdom {
        font-size: 2em;
    }

    #skills {
        font-size: 1.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0;
    }

    .skills-heading {
        font-size: 1em;
    }

    .skills-para {
        font-size: 0.9em;
        text-align: center;
    }

    .fa-solid.fa-cube,
    .fa-solid.fa-gears,
    .fa-solid.fa-eye,
    .fa-solid.fa-palette,
    .fa-solid.fa-square-binary,
    .fa-solid.fa-screwdriver-wrench {
        font-size: 1.5em;
    }

    /* BOONDOGGLES */

    #boondoggles {
        padding-top: 4em;
        padding-bottom: 4em;
        scroll-margin-top: 10px;
    }

    #my-boondoggles {
        font-size: 2em;
    }

    #projects {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .carousel-wrapper {
        width: 100%;
        height: auto;
    }

    .carousel-container {
        padding: 1em;
        width: 50%;
        height: auto;
        padding-left: 8em;
        padding-right: 8em;
    }

    .slide {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .project-images {
        height: 300px;
    }

    h2 {
        font-size: 1.75em;
        padding-bottom: 0;
    }

    .short-description {
        font-size: 1.25em;
        text-align: center;
        padding-bottom: 8em;
    }

    .viewBtn {
        position: absolute;
        /* done so that the buttons can all be at the same level */
        padding: 1em;
        bottom: 1%;
        transform: scale(0.75);
    }

    /* CONTACT ME */

    #contact {
        margin-bottom: 10em;
        padding-top: 4em;
        padding-bottom: 2em;
        scroll-margin-top: 10px;
    }

    #contact-title {
        font-size: 2em;
    }

    #aether {
        font-size: 1.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #contact-blurb {
        font-size: 1.25em;
        text-align: center;
    }

    fieldset {
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

    #contact-form {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #user-email,
    #user-subject {
        align-items: center;
        width: 100%;
        height: 60px;
    }

    #user-message {
        height: 250px;
        width: 100%;
    }

    #sendBtn {
        width: 100%;
        padding: 1em;
        margin-bottom: 4em;
    }

    /* FOOTER */
    .footer-wrapper {
        text-align: center;
    }

}
