section {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff4a57;
    font-size: 3em;
    padding: 1em;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 3em;
}

#maintenance-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#maintenance-image {
    display: flex;
    width: 500px;
    height: auto;
    align-items: center;
    justify-content: center;
}
